main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .game {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(6, 50px);
    gap: 5px;
  }
  
  .game--cell {
    border: 1px solid rgba(128, 128, 128, 0.644);
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 30PX;
    text-transform: uppercase;
  }

  .correct{
      color: white;
      background-color: green;
      text-transform: uppercase;
  }
  .incorrect{
      color: white;
      background-color: rgb(65, 6, 6);
      text-transform: uppercase;
  }
  .almost{
      color: white;
      background-color: orange;
      text-transform: uppercase;
  }